<h4 class="page_title">Somos User Management</h4>
<div class="card">
  <div class="grid">
    <div class="col-12 md:col-5">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword..." [(ngModel)]="filterValue" [disabled]="isLoading" (keyup.enter)="onClickFilter()">
        <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="isLoading ? '' : onClickFilter()" [style]="isLoading ? {opacity: 0.5} : ''"></button>
      </div>
    </div>

    <div class="col-12 md:col-7 text-right" *ngIf="write_permission">
		  <button pButton pRipple label="Add New Somos User" (click)="openSMSUserModal('Add')" icon="pi pi-plus"></button>
    </div>
  </div>
</div>

<div class="card">
  <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
  <p-table [value]="somos_users" responsiveLayout="stack" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-align-center" [ngClass]="sortActive === 'username' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('username')">Username</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'password' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('password')">Password</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'client_key' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('client_key')">Client Key</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'client_secret' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('client_secret')">Client Secret</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'created_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('created_at')">Created At</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'updated_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('updated_at')">Updated At</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'created_by' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('created_by')">Created By</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'updated_by' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('updated_by')">Updated By</a>
        </th>

        <th class="text-align-center w-100px" *ngIf="write_permission">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sms_user>
      <tr>
        <td class="text-align-center">
          <span class="p-column-title">Username</span>
          {{ sms_user.username }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Password</span>
          {{ sms_user.password }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Client Key</span>
          {{ sms_user.client_key }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Client Secret</span>
          {{ sms_user.client_secret }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Created At</span>
          {{ sms_user.created_at }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Updated At</span>
          {{ sms_user.updated_at }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Created By</span>
          {{ sms_user.created?.username }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Updated By</span>
          {{ sms_user.updated?.username }}
        </td>

        <td class="text-align-center" *ngIf="write_permission">
          <span class="p-buttonset">
            <button pButton type="button" title="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-warning" (click)="onOpenEditModal($event, sms_user.id)"></button>
            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="deleteSMSUser($event, sms_user.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-content-center align-items-center gap-3">
    <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>

<p-dialog [header]="modalTitle + ' Somos User'" styleClass="c-modal" [(visible)]="flag_openDialog" (onHide)="closeSMSUserModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <form #f="ngForm" (ngSubmit)="onSMSUserSubmit(f.value)">
        <h6></h6>
        <div class="p-fluid">
          <div>
            <span class="field p-float-label mb-0">
              <input #ref_username [ngClass]="{'ng-dirty': !(ref_username.checkValidity() || input_username==undefined), 'ng-invalid': !(ref_username.checkValidity() || input_username==undefined)}" type="text" id="username" name="username" pInputText [(ngModel)]="input_username" pattern="^([^]{6,8})" required> 
              <label for="username">Somos User</label>
            </span>
            <p id="username-help" class="p-error mb-2" [ngClass]="{'visibility-hidden': ref_username.checkValidity() || input_username==undefined}">Invalid Somos User</p>
          </div>

          <div>
            <span class="field p-float-label mb-0">
              <input 
                type="text" 
                #ref_password
                [ngClass]="{'ng-dirty': !(ref_password.validity.valid || input_password==undefined), 'ng-invalid': !(ref_password.validity.valid || input_password==undefined)}"
                id="password" 
                name="password" 
                pInputText 
                [(ngModel)]="input_password" 
                pattern="^((?=.*[a-zA-Z])(?=.*[0-9@!#$%&'()*+,-.:;<=>?_`{}]).{6,20})" 
                required
              > 
              <label for="password">Password</label>
            </span>
            <small id="username-help" class="p-error" [ngClass]="ref_password.validity.valid || input_password==undefined ? 'visibility-hidden' : 'visibility-visible'">Invalid Password</small>
          </div>

          <span class="field p-float-label">
              <input type="email" id="client_key" name="client_key" pInputText [(ngModel)]="input_client_key"> 
              <label for="client_key">Client Key</label>
          </span>

          <span class="field p-float-label">
              <input type="text" id="client_secret" name="client_secret" pInputText [(ngModel)]="input_client_password"> 
              <label for="client_secret">Client Secret</label>
          </span>
        </div>

        <div *ngIf="modalTitle.toLowerCase()=='add'" class="flex justify-content-end mt-5">
            <span class="p-buttonset">
              <button pButton pRipple (click)="clearInputs()" label="Reset" icon="pi pi-undo" class="p-button-text p-button-danger"></button>
              <button pButton pRipple type="submit" label="Save" icon="pi pi-save" class="p-button-text"></button>
            </span>
        </div>
    </form>
    <div *ngIf="modalTitle.toLowerCase()=='edit'" class="flex justify-content-end mt-5">
      <span class="p-buttonset">
        <button pButton pRipple (click)="editSMSUser()" label="Save" icon="pi pi-save" class="p-button-text p-button-warning"></button>
        <button pButton pRipple (click)="closeSMSUserModal()" label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger"></button>
      </span>
    </div>
</p-dialog>

<!-- <p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" position="top" rejectButtonStyleClass="p-button-text"></p-confirmDialog> -->
