<h4 class="page_title">Reserved Number List</h4>
<p-panel header="Reserved Number List" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">

    <div class="pt-2">
        <div class="card">
            <p-table
                #reservedNumberListTable
                [value]="reservedNumbers"
                [(selection)]="selectedReservedNumbers"
                dataKey="num"
                styleClass="p-datatable-customers"
                [rowHover]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]"
                [loading]="reservedNumberListLoading"
                [responsive]="true"
                responsiveLayout="stack"
                [paginator]="true"
                [filterDelay]="0"
                [globalFilterFields]="['num','resrvdDt','resrvdUntilDt','conName','conPhone']"
            >
                <ng-template pTemplate="caption">
                    <div class="table-header flex justify-content-end">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onInputReservedNumListFilterKey($event)" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="num">
                            <div class="flex justify-content-center align-items-center">
                                Toll Free Number
                                <p-sortIcon field="num"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="resrvdDt">
                            <div class="flex justify-content-center align-items-center">
                                Reserved Date
                                <p-sortIcon field="resrvdDt"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="resrvdUntilDt">
                            <div class="flex justify-content-center align-items-center">
                                Reserved Until Date
                                <p-sortIcon field="resrvdUntilDt"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="conName">
                            <div class="flex justify-content-center align-items-center">
                                Contact Person
                                <p-sortIcon field="conName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="conPhone">
                            <div class="flex justify-content-center align-items-center">
                                Contact Number
                                <p-sortIcon field="conPhone"></p-sortIcon>
                            </div>
                        </th>
                        <th class="text-align-center w-100px">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-reservedNumber>
                    <tr class="p-selectable-row text-align-center">
                        <td>
                            <p-tableCheckbox [value]="reservedNumber"></p-tableCheckbox>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Toll Free Number</span>
                            {{reservedNumber.num | phoneFormat}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Reserved Date</span>
                            {{reservedNumber.resrvdDt}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Reserved Until Date</span>
                            {{reservedNumber.resrvdUntilDt}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Contact Person</span>
                            {{reservedNumber.conName}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Contact Number</span>
                            {{reservedNumber.conPhone | phoneFormat}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Action</span>
                            <button pButton pRipple type="button" label="TAD" class="p-button-rounded p-button-outlined"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No Reserved Numbers List found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple (click)="onSpare()" [disabled]="selectedReservedNumbers.length==0" label="Spare" icon="pi pi-plus-circle" class="p-button-text"></button>
                <button pButton pRipple (click)="onActivate()" [disabled]="selectedReservedNumbers.length==0" label="Activate" icon="pi pi-check" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template>
</p-panel>

<div class="mt-3"></div>
<p-panel header="Activity Log" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
  <div class="pt-2">
    <div class="card">
      <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
      <p-table
        [value]="activityLogs"
        dataKey="id"
        [loading]="activityLogsLoading"
        responsiveLayout="stack"
        [responsive]="true"
      >
        <ng-template pTemplate="caption">
          <div class="grid p-fluid">
            <div *ngIf="isSuperAdmin" class="lg:col-3 md:col-5 col-12 pr-0 pl-0">
              <p-dropdown [options]="userOptions" [(ngModel)]="selectUser" placeholder="Search..." [filter]="true" filterBy="name" optionLabel="name"  optionValue="value" scrollHeight="150px"></p-dropdown>
            </div>
            <div class="lg:col-4 md:col-7 col-12 pr-0 pl-0">
              <div class="p-inputgroup">
                  <input pInputText type="text" [(ngModel)]="filterValue" (keyup.enter)="onClickFilter()" placeholder="Search..." />
                  <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="onClickFilter()"></button>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="isSuperAdmin" class="text-align-center" [ngClass]="sortActive === 'user.username' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('user.username')">Created By</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'sub_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('sub_dt_tm')">Date</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'template_name' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('template_name')">Template</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'service_order' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('service_order')">Service Order</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'eff_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('eff_dt_tm')">Effective Date/Time</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'total' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('total')">Total</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'completed' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('completed')">Completed</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'message' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('message')">Message</a>
            </th>
            <th class="text-align-center">
              Progress Status
            </th>
            <th class="text-align-center w-100px">
              Action
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-result>
          <tr class="p-selectable-row text-align-center">
            <td *ngIf="isSuperAdmin" class="text-align-center">
              <span class="p-column-title">Created By</span>
              {{result.user?.username}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Date</span>
              {{result.sub_dt_tm}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Template</span>
              {{result.template_name}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Service Order</span>
              {{result.service_order}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Effective Date/Time</span>
              {{result.eff_dt_tm}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Total</span>
              <p-tag styleClass="mr-2" severity="success" [value]="result.total"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Completed</span>
              <p-tag styleClass="mr-2" [severity]="getCompletedTagColor(result)" [value]="getCompleted(result)"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Message</span>
              {{ getMessage(result) }}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Progress Status</span>
              <div *ngIf="isProgressing(result)">
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
              </div>
              <p-tag *ngIf="!isProgressing(result)" styleClass="mr-2" [severity]="getStatusTagColor(result)" [value]="getStatus(result)"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Action</span>
              <span class="p-buttonset">
                <button pButton pRipple type="button" title="Detail" icon="pi pi-eye" class="p-button-rounded p-button-outlined" (click)="onOpenViewModal($event, result)"></button>
                <button pButton pRipple type="button" title="Download" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined" (click)="onDownloadCsv($event, result)"></button>
                <button pButton pRipple type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-secondary p-button-outlined" (click)="delete($event, result.id)"></button>
              </span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">No Result found.</td>
          </tr>
        </ng-template>
      </p-table>

      <div class="flex justify-content-center align-items-center gap-3">
        <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</p-panel>

<p-dialog header="View Numbers" styleClass="c-modal pt-2" [(visible)]="flagOpenModal" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="card pt-0">
    <p-table
      #numbersTable
      [value]="numberList"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="numberListLoading"
      responsiveLayout="scroll"
      [responsive]="true"
      [paginator]="true"
      [scrollable]="true"
      scrollDirection="both"
      [filterDelay]="0"
      [globalFilterFields]="[ 'num', 'message','status' ]"
      styleClass="p-datatable-lg"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end align-items-center">
          <button pButton type="button" (click)="onViewNumbersDownload()" icon="pi pi-download" label="Download" class="p-button-text p-button-help"></button>
        </div>
        <div class="flex align-items-center" [ngClass]="resultTotal>0 ? 'justify-content-between' : 'justify-content-end'">
          <p class="mb-0" *ngIf="resultTotal>0">Total <span class="dialog_total_count">{{resultTotal}}</span> Record<span *ngIf="resultTotal>1">s</span></p>
          <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="inputNumListFilterKey" (input)="onInputNumListFilterKey()" placeholder="Search..." />
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="num" style="flex: 4;" class="justify-content-center align-items-center">
            <div>
              Number
              <p-sortIcon field="num"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="num" style="flex: 6" class="justify-content-center align-items-center">
            <div>
              Effective Date/Time
              <p-sortIcon field="eff_dt_tm"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="status" style="flex: 3" class="justify-content-center align-items-center">
            <div>
              Status
              <p-sortIcon field="status"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="message" style="flex: 8;" class="justify-content-center align-items-center">
            <div>
              Message
              <p-sortIcon field="message"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-number>
        <tr>
          <td style="flex: 4" class="justify-content-center align-items-center">
            {{number.num | phoneFormat}}
          </td>
          <td style="flex: 6" class="justify-content-center align-items-center">
            {{number.eff_dt_tm}}
          </td>
          <td style="flex: 3" class="justify-content-center align-items-center">
            {{number.status}}
          </td>
          <td style="flex: 8;" class="justify-content-center align-items-center">
            {{number.message}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr style="flex: 1;">
          <td colspan="12">No Number List found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog styleClass="c-modal pt-2" [(visible)]="flagOpenActivateModal" (onHide)="closeActivateModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center w-full">
            <h5 class="mb-0">Activate</h5>
            <button id="btn_contactInformation"><span>&#9990;</span>Contact Information *</button>
        </div>
    </ng-template>

    <div class="grid p-fluid">
        <div class="lg:col-6 col-12">
            <span class="p-float-label">
                <p-dropdown
                    [options]="templates"
                    id="template"
                    name="template"
                    [(ngModel)]="inputTemplate"
                    optionLabel="tmplName"
                    scrollHeight="150px"
                    [filter]="true"
                    [virtualScroll]="true"
                    [itemSize]="40"
                ></p-dropdown>
                <label>Template *</label>
            </span>
        </div>
        <div class="lg:col-6 col-12">
            <span class="p-float-label">
                <input type="text" id="serviceOrderNum" name="serviceOrderNum" pInputText [(ngModel)]="inputServiceOrderNum" (blur)="onSvcOrderFieldFocusOut()">
                <label for="serviceOrderNum">Service Order *</label>
            </span>
            <p *ngIf="!validSvcOrdrNum" class="p-error">Must be 4 to 13 alphanumeric characters. The 1st character must be alpha, 2nd to 12th characters must be alphanumeric. The 13th character must be alpha.</p>
        </div>
        <div class="lg:col-6 col-12">
            <span class="p-float-label">
                <input type="text" id="numTermLine" name="numTermLine" pInputText [(ngModel)]="inputNumTermLine" (blur)="onNumTermLineFieldFocusOut()">
                <label for="numTermLine">Number of Lines *</label>
            </span>
            <p *ngIf="!validNumTermLine" class="p-error">Please input number between 1 ~ 9999.</p>
        </div>
        <div class="lg:col-6 col-12">
            <div class="grid p-fluid">
                <div class="col-8">
                    <span class="p-float-label">
                        <p-calendar
                          inputId="effDateTime"
                          [(ngModel)]="inputEffDate"
                          dateFormat="mm/dd/yy"
                          [minDate]="minEffDate"
                          [showButtonBar]="true"
                          [showTime]="true"
                          hourFormat="12"
                          [disabled]="inputNow"
                          (onSelect)="onDateFieldFocusOut();onEffDateIntervalFifteenMin();"
                          [stepMinute]="15"
                        ></p-calendar>
                        <label>Effective Date/Time *</label>
                    </span>
                    <p *ngIf="!validEffDate" class="p-error">Effective Date/Time is required. </p>
                </div>
                <div class="col-4 flex align-items-center">
                    <label class="ml-3">
                        <p-inputSwitch
                            id="now"
                            name="now"
                            (onChange)="onDateFieldFocusOut()"
                            [(ngModel)]="inputNow"
                        ></p-inputSwitch>
                        Now
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-end">
        <span class="p-buttonset">
            <button pButton pRipple (click)="onModalActivate()" label="Activate" icon="pi pi-search-plus" class="p-button-text"></button>
            <button pButton pRipple (click)="onModalCancel()" label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger"></button>
        </span>
    </div>
</p-dialog>
