<h4 class="page_title">Multi Dial Number Query</h4>

<div class="grid">
    <div class="col-12 lg:col-6">
        <p-panel header="Multi Dial Numbers" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
            <div class="pt-2">
                <div class="">
                    <p class="mb-2">CSV or XLS file :</p>
                    <p-fileUpload 
                        #fubauto 
                        mode="basic" 
                        name="CSV_XL_File[]" 
                        url="" 
                        [multiple]="true" 
                        accept=".xls,.xlsx,.csv" 
                        [maxFileSize]="10000000" 
                        (onSelect)="onCsvXlUploadAuto($event)" 
                        [auto]="true" 
                        chooseLabel="Choose File"
                    ></p-fileUpload>
                </div>
                <div class="p-fluid mt-3">
                    <span class="p-float-label">
                        <textarea class="pt-4" id="dial_numbers" name="dial_numbers" [(ngModel)]="inputDialNumbers" (blur)="onNumFieldFocusOut()" rows="7" cols="30" pInputTextarea></textarea>
                        <label for="dial_numbers">Dial Numbers</label>
                    </span>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_COMMON" class="p-error">Number or Mask Entry: Must be 10 alphanumeric characters and optionally two dashes '-'. Allowed delimiters are comma or return.</strong>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12 lg:col-6">
        <p-panel header="Request Information">
            <div class="p-fluid pt-2">
                <span class="p-float-label">
                    <input type="text" id="request_name" name="request_name" pInputText [(ngModel)]="inputRequestName"> 
                    <label for="request_name">Request Name</label>
                </span>
            </div>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <span class="p-buttonset">
                        <button pButton pRipple (click)="onSubmit()" label="Submit"  icon="pi pi-send" class="p-button-text"></button>
                        <button pButton pRipple (click)="onClear()" label="Clear"  icon="pi pi-eraser" class="p-button-text p-button-danger"></button>
                    </span>
                </div>
            </ng-template>
        </p-panel>

        <!-- <div class="mt-3"></div>
        <p-panel styleClass="custom_panel_style header-none">
            <div class="p-fluid pt-2">
                <span class="p-float-label">
                    <textarea class="pt-4" id="message" name="message" [(ngModel)]="inputMessage" rows="5" cols="30" pInputTextarea></textarea>
                    <label for="message">Message</label>
                </span>
            </div>
        </p-panel> -->
    </div>
</div>

<div class="mt-3"></div>
<p-panel header="Activity Log" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="card">
            <p-table
                #activityLogTable
                [value]="activityLogs"
                dataKey="id"
                [rowHover]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]"
                [loading]="activityLogsLoading"
                responsiveLayout="stack" 
                [responsive]="true"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [filterDelay]="0" 
                [globalFilterFields]="['name','createdBy','date','total','completed','message','progressStatus']"
            >
                <ng-template pTemplate="caption">
                    <div class="table-header flex justify-content-end">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="activityLogTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-center align-items-center">
                                Name
                                <p-sortIcon field="name"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="createdBy">
                            <div class="flex justify-content-center align-items-center">
                                Created By
                                <p-sortIcon field="createdBy"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="date">
                            <div class="flex justify-content-center align-items-center">
                                Date
                                <p-sortIcon field="date"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="total">
                            <div class="flex justify-content-center align-items-center">
                                Total
                                <p-sortIcon field="total"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="completed">
                            <div class="flex justify-content-center align-items-center">
                                Completed
                                <p-sortIcon field="completed"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="message">
                            <div class="flex justify-content-center align-items-center">
                                Message
                                <p-sortIcon field="message"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="progressStatus">
                            <div class="flex justify-content-center align-items-center">
                                Progress Status
                                <p-sortIcon field="progressStatus"></p-sortIcon>
                            </div>
                        </th>
                        <th class="text-align-center w-100px">
                            Action
                        </th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-result>
                    <tr class="p-selectable-row text-align-center">
                        <td class="text-align-center">
                            <span class="p-column-title">Name</span>
                            {{result.name}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Created By</span>
                            {{result.createdBy}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Date</span>
                            {{result.date}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Total</span>
                            <p-badge [value]="result.total" size="large" severity="success" styleClass="mr-2"></p-badge>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Completed</span>
                            <p-badge [value]="result.completed" size="large" severity="success" styleClass="mr-2"></p-badge>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Message</span>
                            {{result.message}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Progress Status</span>
                            <i *ngIf="result.progressStatus" class="pi pi-check"></i>
                            <i *ngIf="!result.progressStatus" class="pi pi-times"></i>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Action</span>
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined"></button>
                                <button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined"></button>
                                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary p-button-outlined"></button>
                            </span>
                        </td>                                                            
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Result found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>