<h4 class="page_title">Multi Dial Number Query</h4>

<div class="grid justify-content-center">
    <div class="lg:col-6 col-12">

    </div>
</div>

<p-panel header="Multi Dial Numbers" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="grid justify-content-center">
            <div class="lg:col-12 col-12">
                <div class="flex align-items-center">
                    <div class="p-fluid w-9">
                        <span class="p-float-label">
                            <input type="text" id="request_name" name="request_name" pInputText [(ngModel)]="inputRequestName" (input)="validRequestName = true">
                            <label for="request_name">Request Name</label>
                        </span>
                        <strong *ngIf="!validRequestName" class="p-error">The string length of the request name must be 1 ~ 60.</strong>
                    </div>
                    <p class="mb-0 ml-2 mr-3">CSV File: </p>
                    <button pButton pRipple label="Choose File" (click)="fileInput.click()"></button>
                    <input #fileInput type="file" (change)="onCsvXlUploadAuto($event)" style="display: none" accept=".csv"/>
                </div>
                <div class="p-fluid mt-3">
                    <span class="p-float-label">
                        <textarea class="pt-4" id="dial_numbers" name="dial_numbers" [(ngModel)]="inputDialNumbers" (blur)="onNumFieldFocusOut()" rows="7" cols="30" pInputTextarea></textarea>
                        <label for="dial_numbers">Dial Numbers</label>
                    </span>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_COMMON" class="p-error">Number or Mask Entry: Must be 10 alphanumeric characters and optionally two dashes '-'. Allowed delimiters are comma or return.</strong>
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple (click)="onSubmit()" label="Submit"  icon="pi pi-send" class="p-button-text"></button>
                <button pButton pRipple (click)="onClear()" label="Clear"  icon="pi pi-eraser" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template>
</p-panel>

<div class="mt-3"></div>
<p-panel header="Activity Log" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="card">
            <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
            <p-table
                [value]="activityLogs"
                dataKey="id"
                [loading]="activityLogsLoading"
                responsiveLayout="stack"
                [responsive]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="grid p-fluid">
                        <div *ngIf="isSuperAdmin" class="lg:col-3 md:col-5 col-12 pr-0 pl-0">
                          <p-dropdown [options]="userOptions" [(ngModel)]="selectUser" placeholder="Search..." [filter]="true" filterBy="name" optionLabel="name"  optionValue="value" scrollHeight="150px"></p-dropdown>
                        </div>
                        <div class="lg:col-4 md:col-7 col-12 pr-0 pl-0">
                          <div class="p-inputgroup">
                              <input pInputText type="text" [(ngModel)]="filterValue" (keyup.enter)="onClickFilter()" placeholder="Search..." />
                              <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="onClickFilter()"></button>
                          </div>
                        </div>
                      </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-align-center" [ngClass]="sortActive === 'request_desc' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('request_desc')">Name</a>
                        </th>
                        <th *ngIf="isSuperAdmin" class="text-align-center">
                            Created By
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'sub_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('sub_dt_tm')">Date</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'total' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('total')">Total</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'completed' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('completed')">Completed</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'message' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('message')">Message</a>
                        </th>
                        <th class="text-align-center">
                            Progress Status
                        </th>
                        <th class="text-align-center w-100px">
                            Action
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-result>
                    <tr class="p-selectable-row text-align-center">
                        <td class="text-align-center">
                            <span class="p-column-title">Name</span>
                            {{result.request_desc}}
                        </td>
                        <td *ngIf="isSuperAdmin" class="text-align-center">
                            <span class="p-column-title">Created By</span>
                            {{result.user.username}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Date</span>
                            {{result.sub_dt_tm}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Total</span>
                            <p-tag styleClass="mr-2" severity="success" [value]="result.total"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Completed</span>
                            <p-tag styleClass="mr-2" [severity]="getCompletedTagColor(result)" [value]="getCompleted(result)"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Message</span>
                            {{ getMessage(result) }}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Progress Status</span>
                            <div *ngIf="isProgressing(result)">
                                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                            </div>
                            <p-tag *ngIf="!isProgressing(result)" styleClass="mr-2" [severity]="getStatusTagColor(result)" [value]="getStatus(result)"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Action</span>
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" title="Detail" icon="pi pi-eye" class="p-button-rounded p-button-outlined" (click)="onOpenViewModal($event, result)"></button>
                                <button pButton pRipple type="button" title="Download" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined" (click)="onDownloadCsv($event, result)"></button>
                                <button pButton pRipple type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-secondary p-button-outlined" (click)="delete($event, result.id)"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Result found.</td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="flex justify-content-center align-items-center gap-3">
                <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</p-panel>

<p-dialog header="View Numbers" styleClass="c-modal pt-2" [(visible)]="flagOpenModal" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="card pt-0">
        <p-table
            #numbersTable
            [value]="numberList"
            dataKey="id"
            [rows]="10"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [loading]="numberListLoading"
            responsiveLayout="scroll"
            [responsive]="true"
            [scrollable]="true"
            scrollDirection="both"
            [paginator]="true"
            [filterDelay]="0"
            [globalFilterFields]="['num','resp_org_id','eff_dt','status','last_act_dt','res_until_dt','disc_until_dt','con_name','con_phone','message','short_notes']"
            styleClass="p-datatable-lg c-table"
        >
            <ng-template pTemplate="caption">
                <div class="flex justify-content-end align-items-center">
                    <button pButton type="button" (click)="onViewNumbersDownload()" icon="pi pi-download" label="Download" class="p-button-text p-button-help"></button>
                </div>
                <div class="flex align-items-center" [ngClass]="resultTotal>0 ? 'justify-content-between' : 'justify-content-end'">
                    <p class="mb-0" *ngIf="resultTotal>0">Total <span class="dialog_total_count">{{resultTotal}}</span> Record<span *ngIf="resultTotal>1">s</span></p>
                    <!-- <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputNumListFilterKey" (input)="onInputNumListFilterKey()" placeholder="Search..." />
                        </span>
                    </div> -->

                    <div class="flex justify-content-center align-items-center">
                        <p-columnFilter field="resp_org_id" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <span class="p-float-label">
                                    <p-dropdown [style]="{'width': '200px'}" [ngModel]="value" [options]="respOrgOptions" (onChange)="filter($event.value)" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label>Resp Org</label>
                                </span>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <span class="p-float-label">
                                    <p-dropdown [style]="{'width': '200px'}" [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label>Status</label>
                                </span>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="num" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Number
                            <p-sortIcon field="num"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="resp_org_id" class="flex justify-content-center align-items-center">
                      <div>
                            Resp Org
                            <p-sortIcon field="resp_org_id"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="status" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="eff_dt" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Effective Date
                            <p-sortIcon field="eff_dt"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="last_act_dt" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Last Active
                            <p-sortIcon field="last_act_dt"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="res_until_dt" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Reserved Until
                            <p-sortIcon field="res_until_dt"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="disc_until_dt" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Disconnect Until
                            <p-sortIcon field="disc_until_dt"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="con_name" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Contact Person
                            <p-sortIcon field="con_name"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="con_phone" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Contact Number
                            <p-sortIcon field="con_phone"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="message" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Message
                            <p-sortIcon field="message"></p-sortIcon>
                      </div>
                    </th>
                    <th pSortableColumn="short_notes" style="width: 200px;" class="flex justify-content-center align-items-center">
                      <div>
                            Notes
                            <p-sortIcon field="short_notes"></p-sortIcon>
                      </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-number>
                <tr>
                  <td style="width: 200px;" class="flex justify-content-center align-items-center">
                    <!-- <span class="p-column-title">Number</span> -->
                        {{number.num | phoneFormat}}
                    </td>
                  <td class="flex justify-content-center align-items-center">
                    <!-- <span class="p-column-title">Resp Org</span> -->
                        {{number.resp_org_id}}
                    </td>
                  <td style="width: 200px;" class="flex justify-content-center align-items-center">
                    <!-- <span class="p-column-title">Status</span> -->
                    {{number.status}}
                  </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Effective Date</span> -->
                        {{number.eff_dt}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Last Active</span> -->
                        {{number.last_act_dt}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Reserved Until</span> -->
                        {{number.res_until_dt}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Disconnect Until</span> -->
                        {{number.disc_until_dt}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Contact Person</span> -->
                        {{number.con_name}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Contact Number</span> -->
                        {{number.con_phone}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Message</span> -->
                        {{number.message}}
                    </td>
                    <td style="width: 200px;" class="flex justify-content-center align-items-center">
                        <!-- <span class="p-column-title">Notes</span> -->
                        {{number.short_notes}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No Number List found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
