<h4 class="page_title m-0">ROC Resend Subscriber Notifications</h4>

<p-panel header="Search Notifications" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="grid">
        <div class="lg:col-4 md:col-6 col-12 p-fluid">
            <span class="p-float-label">
                <input type="text" id="respOrgEntity" name="respOrgEntity" [ngClass]="{'ng-dirty': !validRespOrgEntity, 'ng-invalid': !validRespOrgEntity}" (input)="onInputRespOrgEntity()" pInputText [(ngModel)]="inputRespOrgEntity"> 
                <label for="respOrgEntity">Entity ID *</label>
            </span>
            <strong *ngIf="!validRespOrgEntity" class="p-error">Required!</strong>
        </div>
        <div class="lg:col-4 md:col-6 col-12 p-fluid">
            <span class="p-float-label">
                <input type="text" id="txnID" name="txnID" pInputText [(ngModel)]="inputTransactionID"> 
                <label for="txnID">Transaction ID</label>
            </span>
        </div>
        <div class="lg:col-4 md:col-6 col-12 p-fluid">
            <span class="p-float-label">
                <p-calendar 
                    inputId="dateRange" 
                    selectionMode="range" 
                    dateFormat="mm/dd/yy" 
                    [readonlyInput]="true"
                    [(ngModel)]="dateRange" 
                ></p-calendar>
                <label for="dateRange">Date Range</label>
            </span>
        </div>
        <div class="lg:col-4 md:col-6 col-12 p-fluid">
            <span class="p-float-label">
                <input type="text" id="respOrgID" name="respOrgID" pInputText [(ngModel)]="inputRespOrgID"> 
                <label for="respOrgID">Resp Org ID</label>
            </span>
        </div>
        <div class="lg:col-4 md:col-6 col-12 p-fluid">
            <span class="p-float-label">
                <input type="text" id="tollFreeNumber" name="tollFreeNumber" [ngClass]="{'ng-dirty': !validTollFreeNumber, 'ng-invalid': !validTollFreeNumber}" (blur)="onNumFieldFocusOut()" pInputText [(ngModel)]="inputTollFreeNumber"> 
                <label for="tollFreeNumber">Toll-Free Number</label>
            </span>
            <strong *ngIf="!validTollFreeNumber" class="p-error">Number or Mask Entry: Must be 10 alphanumeric characters and optionally two dashes '-'.</strong>
        </div>
    </div>

    <h6>Notification Type</h6>
    <div class="flex justify-content-between">
        <div class="field-checkbox">
            <p-checkbox name="groupNotificationType" value="NEW_INCOMING" [(ngModel)]="selectedNotificationType" inputId="new_incoming"></p-checkbox>
            <label for="new_incoming">New Incoming</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="groupNotificationType" value="PUSHED_TO_RESPORGS" [(ngModel)]="selectedNotificationType" inputId="pushed_to_resporgs"></p-checkbox>
            <label for="pushed_to_resporgs">Pushed To Resp Org</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="groupNotificationType" value="PROCESSED_OUTGOING" [(ngModel)]="selectedNotificationType" inputId="processed_outgoing"></p-checkbox>
            <label for="processed_outgoing">Processed Outgoing</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="groupNotificationType" value="PROCESSED_INCOMING" [(ngModel)]="selectedNotificationType" inputId="processed_incoming"></p-checkbox>
            <label for="processed_incoming">Processed Incoming</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="groupNotificationType" value="PROCESSED_HDI" [(ngModel)]="selectedNotificationType" inputId="processed_hdi"></p-checkbox>
            <label for="processed_hdi">Processed Help Desk Intervention Request</label>
        </div>
    </div>

    <div class="flex justify-content-end mt-5">
        <span class="p-buttonset">
          <button pButton pRipple (click)="onClickSearch()" label="Search" icon="pi pi-search" class="p-button-text p-button-help" [disabled]="inputRespOrgEntity==''"></button>
          <button pButton pRipple (click)="onClickClear()" label="Clear" icon="pi pi-undo" class="p-button-text p-button-danger"></button>
        </span>
    </div>
</p-panel>

<p-panel header="Results" styleClass="pt-5" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="flex justify-content-end">
            <button pButton pRipple (click)="onClickExportCSV()" label="Export CSV" icon="pi pi-download" class="p-button-text"></button>
        </div>
    </div>
</p-panel>