<h4 class="page_title">Auto Reserve Numbers</h4>

<p-panel header="Retrieve" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <ng-template pTemplate="icons">
        <button id="btn_contactInformation"><span>&#9990;</span>Contact Information *</button>
    </ng-template>
    <div class="pt-2">
        <div class="grid">
            <div class="col-12 lg:col-5">
                <div class="grid">
                    <div class="col-8 p-fluid">
                        <span class="p-float-label">
                          <p-calendar
                            inputId="startDateTime"
                            [(ngModel)]="inputStartDateTime"
                            dateFormat="mm/dd/yy"
                            [minDate]="minStartDateTime"
                            [showButtonBar]="true"
                            [showTime]="true"
                            hourFormat="12"
                            [stepMinute]="15"
                            (onSelect)="onTimeFieldFocusOut();onStartIntervalFifteenMin();"
                            [disabled]="inputStartNow"
                          ></p-calendar>
                          <label>Starting Date Time *</label>
                        </span>
                        <p *ngIf="invalidStartTime === gConst.INVALID_TIME_PAST && !inputStartNow" class="p-error">Please input future time</p>
                        <p *ngIf="invalidStartTime === gConst.INVALID_TIME_ORDER && !inputStartNow" class="p-error">Start time must be before than end time</p>
                    </div>
                    <div class="col-3 flex align-items-center">
                        <label class="ml-3">
                            <p-inputSwitch
                                id="startNow"
                                name="startNow"
                                (onChange)="onTimeFieldFocusOut()"
                                [(ngModel)]="inputStartNow"
                            ></p-inputSwitch>
                            Now
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-7">
                <div class="grid">
                    <div class="md:col-7 col-12 p-fluid">
                        <span class="p-float-label">
                            <p-calendar
                                inputId="endDateTime"
                                [(ngModel)]="inputEndDateTime"
                                dateFormat="mm/dd/yy"
                                [minDate]="minEndDateTime"
                                [showButtonBar]="true"
                                [showTime]="true"
                                hourFormat="12"
                                [stepMinute]="15"
                                (onSelect)="onTimeFieldFocusOut();onEndIntervalFifteenMin();"
                                [disabled]="inputEndNow"
                            ></p-calendar>
                            <label>End Date Time *</label>
                        </span>
                        <p *ngIf="invalidEndTime === gConst.INVALID_TIME_PAST && !inputEndNow" class="p-error">Please input future time</p>
                        <p *ngIf="invalidEndTime === gConst.INVALID_TIME_ORDER && !inputEndNow" class="p-error">End time must be after than start time</p>
                    </div>
                    <div class="md:col-5 col-12 flex justify-content-center align-items-center">
                        <label class="ml-3">
                            <p-inputSwitch
                                id="endNow"
                                name="endNow"
                                [(ngModel)]="inputEndNow"
                            ></p-inputSwitch>
                            Now +
                        </label>
                        <div class="ml-2">
                            <span class="p-float-label">
                                <input type="number" id="afterMin" name="afterMin" pInputText [(ngModel)]="inputAfterMin" (input)="onInputAfterMin()" [disabled]="!inputEndNow">
                                <label for="afterMin">Mins</label>
                            </span>
                            <p *ngIf="afterMinErr" class="p-error">The value must be greater than 0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid mt-2">
            <div class="col-12 md:col-12 p-fluid">
                <span class="p-float-label">
                    <input type="number" id="requestsAtATime" name="requestsAtATime" pInputText [(ngModel)]="inputRequestsAtATime" (input)="onInputRequestsAtATime()">
                    <label for="requestsAtATime">Requests at a time *</label>
                </span>
                <p *ngIf="!validRequestsAtATime" class="p-error">Must be between 1 and {{gConst.MAX_REQUESTS_AT_A_TIME_LIMIT}}.</p>
            </div>
        </div>

        <div class="p-fluid mt-3">
            <span class="p-float-label">
                <textarea class="pt-4" id="wildcards" name="wildcards" (input)="onInputWildcards()" [(ngModel)]="inputWildcards" rows="5" cols="30" pInputTextarea></textarea>
                <label for="wildcards">Wildcards / TFN Numbers *</label>
            </span>
            <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_COMMON" class="p-error">Must be 10 alphanumeric characters and optionally two dashes '-'. Allowed delimiters are comma or return.</strong>
            <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_AMP" class="p-error">Number cannot contain a single '&'.</strong>
            <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_WILDCARD" class="p-error">Please input wildcard for auto reserving.</strong>
            <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_TOO_MANY" class="p-error">You cannot apply over 500 numbers.</strong>
            <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_EMPTY" class="p-error">Please input wildcard for auto reserving.</strong>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple type="button" (click)="onSubmit()" [disabled]="disableSubmit" icon="pi pi-send" label="Submit" class="p-button-text"></button>
                <button pButton pRipple type="button" (click)="onClear()" icon="pi pi-eraser" label="Clear" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template>
</p-panel>


<p-panel header="Activity Log" styleClass="mt-3" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
  <div class="pt-2">
    <div class="card">
      <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
      <p-table
        [value]="activityLogs"
        dataKey="id"
        [loading]="activityLogsLoading"
        responsiveLayout="stack"
        [responsive]="true"
      >
        <ng-template pTemplate="caption">
          <div class="grid p-fluid">
            <div *ngIf="isSuperAdmin" class="lg:col-3 md:col-5 col-12 pr-0 pl-0">
              <p-dropdown [options]="userOptions" [(ngModel)]="selectUser" placeholder="Search..." [filter]="true" filterBy="name" optionLabel="name"  optionValue="value" scrollHeight="150px"></p-dropdown>
            </div>
            <div class="lg:col-4 md:col-7 col-12 pr-0 pl-0">
              <div class="p-inputgroup">
                  <input pInputText type="text" [(ngModel)]="filterValue" (keyup.enter)="onClickFilter()" placeholder="Search..." />
                  <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="onClickFilter()"></button>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="isSuperAdmin" class="text-align-center">
              Created By
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'sub_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('sub_dt_tm')">Submit Time</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'start_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('start_at')">Start Time</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'end_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('end_at')">End Time</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'wild_card_num' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('wild_card_num')">Wild Card</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'max_request' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('max_request')">Max Request</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'total' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('total')">Requested</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'completed' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('completed')">Completed</a>
            </th>
            <th class="text-align-center" [ngClass]="sortActive === 'message' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
              <a (click)="onSortChange('message')">Message</a>
            </th>
            <th class="text-align-center">
              Progress Status
            </th>
            <th class="text-align-center w-100px">
              Action
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-result>
          <tr class="p-selectable-row text-align-center">
            <td *ngIf="isSuperAdmin" class="text-align-center">
              <span class="p-column-title">Created By</span>
              {{result.user.username}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Submit Time</span>
              {{result.sub_dt_tm}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Start Time</span>
              {{result.start_at}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">End Time</span>
              {{result.end_at}}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Wild Card</span>
              {{ result.wild_card_num }}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Max Request</span>
              {{ result.max_request }}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Total</span>
              <p-tag styleClass="mr-2" severity="success" [value]="getTotal(result)"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Completed</span>
              <p-tag styleClass="mr-2" [severity]="getCompletedTagColor(result)" [value]="getCompleted(result)"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Message</span>
              {{ getMessage(result) }}
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Progress Status</span>
              <div *ngIf="isProgressing(result)">
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
              </div>
              <p-tag *ngIf="!isProgressing(result)" styleClass="mr-2" [severity]="getStatusTagColor(result)" [value]="getStatus(result)"></p-tag>
            </td>
            <td class="text-align-center">
              <span class="p-column-title">Action</span>
              <span class="p-buttonset">
                <button pButton pRipple title="Detail" type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined" (click)="onOpenViewModal($event, result)"></button>
                <button pButton pRipple title="Download" *ngIf="result.status!='IN PROGRESS'" type="button" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined" (click)="onDownloadCsv($event, result)"></button>
                <button pButton pRipple title="Cancel" *ngIf="result.status=='IN PROGRESS'" type="button" icon="pi pi-stop" class="p-button-rounded p-button-warning p-button-outlined" (click)="cancel($event, result.id)"></button>
                <button pButton pRipple title="Delete" type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary p-button-outlined" (click)="delete($event, result.id)"></button>
              </span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Result found.</td>
          </tr>
        </ng-template>
      </p-table>

      <div class="flex justify-content-center align-items-center gap-3">
        <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</p-panel>

<p-dialog header="View Numbers" styleClass="c-modal pt-2" [(visible)]="flagOpenModal" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="card pt-0">
    <p-table
      #numbersTable
      [value]="numberList"
      [loading]="numberListLoading"
      responsiveLayout="scroll"
      [responsive]="true"
      [scrollable]="true"
      scrollDirection="both"
      styleClass="p-datatable-lg"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end align-items-center">
        </div>
        <div class="flex align-items-center" [ngClass]="resultTotal>0 ? 'justify-content-between' : 'justify-content-end'">
          <p class="mb-0" *ngIf="resultTotal>0">Total <span class="dialog_total_count">{{resultTotal}}</span> Number<span *ngIf="resultTotal>1">s</span></p>
          <div class="table-header">
            <button pButton type="button" (click)="onViewNumbersDownload()" icon="pi pi-download" label="Download" class="p-button-text p-button-help"></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="body" let-number>
        <tr>
          <td style="flex: 1;" class="flex justify-content-center align-items-center">
            {{number.num1 | phoneFormat}}
          </td>
          <td style="flex: 1;" class="flex justify-content-center align-items-center">
            {{number.num2 | phoneFormat}}
          </td>
          <td style="flex: 1;" class="flex justify-content-center align-items-center">
            {{number.num3 | phoneFormat}}
          </td>
          <td style="flex: 1;" class="flex justify-content-center align-items-center">
            {{number.num4 | phoneFormat}}
          </td>
          <td style="flex: 1;" class="flex justify-content-center align-items-center">
            {{number.num5 | phoneFormat}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" style="flex: 1;">No Numbers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
