<h4 class="page_title">Multiple Conversion to Pointer Records</h4>

<div class="grid">
    <div class="col-12 lg:col-6">
        <p-panel header="Multi Dial Numbers" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
            <div class="pt-2">
                <div class="">
                    <p class="mb-2">CSV or XLS file :</p>
                    <p-fileUpload 
                        #fubauto 
                        mode="basic" 
                        name="CSV_XL_File[]" 
                        url="" 
                        [multiple]="true" 
                        accept=".xls,.xlsx,.csv" 
                        [maxFileSize]="10000000" 
                        (onSelect)="onCsvXlUploadAuto($event)" 
                        [auto]="true" 
                        chooseLabel="Choose File"
                    ></p-fileUpload>
                </div>
                <div class="p-fluid mt-3">
                    <span class="p-float-label">
                        <textarea class="pt-4" id="dial_numbers" name="dial_numbers" [(ngModel)]="inputDialNumbers" rows="7" cols="30" pInputTextarea></textarea>
                        <label for="dial_numbers">Dial Numbers</label>
                    </span>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12 lg:col-6">
        <p-panel header="Report Information">
            <div class="p-fluid pt-2">
                <span class="field p-float-label">
                    <input type="text" id="template" name="template" pInputText [(ngModel)]="inputTemplateName" (input)="onInputTemplateName()"> 
                    <label for="template">Template Name</label>
                </span>
                <p *ngIf="tmplErrType === gConst.TMPL_ERR_TYPE.BLANK" class="p-error">Template field is required</p>
                <p *ngIf="tmplErrType === gConst.TMPL_ERR_TYPE.ERROR" class="p-error">Template Name: Must start with '*', then a valid 2 character Entity ID, followed by 1-12 alphanumerics. Must be 4-15 characters wide. Dashes are optional in the 4th-15th character positions.</p>
            </div>
            <div class="grid field">
                <div class="p-fluid col-9">
                    <span class="p-float-label">
                        <p-calendar 
                            inputId="effDateTime" 
                            [(ngModel)]="inputEffDateTime" 
                            dateFormat="mm/dd/yy" 
                            [minDate]="minEffDateTime"
                            [showButtonBar]="true" 
                            [showTime]="true"
                            hourFormat="12" 
                            [disabled]="inputNow"
                        ></p-calendar>
                        <label for="effDateTime">Start Effective Date/Time*</label>
                    </span>
                    <p *ngIf="effDateErr" class="p-error">Request Name field is required</p>
                </div>
                <div class="col-3 flex align-items-center">
                    <label class="ml-3" for="now">
                        <p-inputSwitch
                            id="now" 
                            name="now" 
                            [(ngModel)]="inputNow"
                        ></p-inputSwitch>
                        Now
                    </label>
                </div>
            </div>
            <div class="p-fluid">
                <span class="field p-float-label">
                    <input type="text" id="request_name" name="request_name" pInputText [(ngModel)]="inputRequestName"> 
                    <label for="request_name">Request Name</label>
                </span>
            </div>
        </p-panel>

        <div class="mt-3"></div>
        <p-panel styleClass="header-none">
            <div class="p-fluid pt-2">
                <span class="p-float-label">
                    <textarea class="pt-4" id="message" name="message" [(ngModel)]="inputMessage" rows="5" cols="30" pInputTextarea disabled></textarea>
                    <label for="message">Message</label>
                </span>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <span class="p-buttonset">
                        <button pButton pRipple (click)="onSubmit()" label="Submit" icon="pi pi-send" class="p-button-text"></button>
                        <button pButton pRipple (click)="onClear()" label="Clear" icon="pi pi-eraser" class="p-button-text p-button-danger"></button>
                    </span>
                </div>
            </ng-template>
        </p-panel>
    </div>
</div>

<div class="mt-3"></div>
<p-panel header="Activity Log" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="card">
            <p-table
                #activityLogTable
                [value]="activityLogs"
                dataKey="id"
                [rowHover]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]"
                [loading]="activityLogsLoading"
                responsiveLayout="stack" 
                [responsive]="true"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [filterDelay]="0" 
                [globalFilterFields]="['name','createdBy','submitDate','effDateTime','templateName','total','completed','message','progressStatus']"
            >
                <ng-template pTemplate="caption">
                    <div class="table-header flex justify-content-end">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="activityLogTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-center align-items-center">
                                Name
                                <p-sortIcon field="name"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="createdBy">
                            <div class="flex justify-content-center align-items-center">
                                Created By
                                <p-sortIcon field="createdBy"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="submitDate">
                            <div class="flex justify-content-center align-items-center">
                                Submit Date
                                <p-sortIcon field="submitDate"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="effDateTime">
                            <div class="flex justify-content-center align-items-center">
                                Eff. Date Time
                                <p-sortIcon field="effDateTime"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="templateName">
                            <div class="flex justify-content-center align-items-center">
                                Template Name
                                <p-sortIcon field="templateName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="total">
                            <div class="flex justify-content-center align-items-center">
                                Total
                                <p-sortIcon field="total"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="completed">
                            <div class="flex justify-content-center align-items-center">
                                Completed
                                <p-sortIcon field="completed"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="message">
                            <div class="flex justify-content-center align-items-center">
                                Message
                                <p-sortIcon field="message"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="progressStatus">
                            <div class="flex justify-content-center align-items-center">
                                Progress Status
                                <p-sortIcon field="progressStatus"></p-sortIcon>
                            </div>
                        </th>
                        <th class="text-align-center w-100px">
                            Action
                        </th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-result>
                    <tr class="p-selectable-row text-align-center">
                        <td class="text-align-center">
                            <span class="p-column-title">Name</span>
                            {{result.name}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Created By</span>
                            {{result.createdBy}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Submit Date</span>
                            {{result.submitDate}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Eff. Date Time</span>
                            {{result.effDateTime}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Template Name</span>
                            {{result.templateName}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Total</span>
                            <p-badge [value]="result.total" size="large" severity="success" styleClass="mr-2"></p-badge>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Completed</span>
                            <p-badge [value]="result.completed" size="large" severity="success" styleClass="mr-2"></p-badge>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Message</span>
                            {{result.message}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Progress Status</span>
                            <i *ngIf="result.progressStatus" class="pi pi-check"></i>
                            <i *ngIf="!result.progressStatus" class="pi pi-times"></i>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Action</span>
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined"></button>
                                <button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined"></button>
                                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary p-button-outlined"></button>
                            </span>
                        </td>                                                            
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Result found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>
<div class="mb-5"></div>