<h4 class="page_title">Number Search And Reserve</h4>

<p-panel header="Search" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <ng-template pTemplate="icons">
        <button id="btn_contactInformation" (click)="validContactInfo=true"><span>&#9990;</span>Contact Information *</button>
    </ng-template>

    <div class="pt-2">
        <div class="grid">
            <div class="lg:col-6 col-12 p-fluid pl-3 pr-3">
                <div class="flex field">
                    <div class="w-9">
                        <span class="p-float-label">
                            <input type="number" id="quantity" name="quantity" pInputText [(ngModel)]="input_quantity" (input)="onChangeQuantity($event)" [disabled]="numType == gConst.OCA_NUM_TYPE_SPECIFIC">
                            <label for="quantity">Quantity *</label>
                        </span>
                        <p *ngIf="!validQty" class="p-error">Starting Quantity: Must be between 1 and 10.</p>
                    </div>
        
                    <div class="flex align-items-center justify-content-center">
                        <label class="ml-3">
                            <p-inputSwitch
                                id="consecutive"
                                name="consecutive"
                                [(ngModel)]="input_consecutive"
                                (onChange)="onNumFieldFocusOut()"
                                [disabled]="disableCons"
                            ></p-inputSwitch>
                            Consecutive
                        </label>
                    </div>
                </div>

                <p-panel styleClass="child_panel" header="Advanced Search" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
                    <div class="pt-4">
                        <div class="grid">
                            <div class="col-12 p-fluid">
                                <span class="p-float-label">
                                    <p-dropdown
                                        [options]="npas"
                                        id="npa"
                                        name="npa"
                                        [(ngModel)]="inputNpa"
                                        optionLabel="name"
                                        [showClear]="true"
                                        scrollHeight="200px"
                                        [virtualScroll]="true"
                                        [itemSize]="40"
                                        [disabled]="numType !== gConst.OCA_NUM_TYPE_RANDOM"
                                    ></p-dropdown>
                                    <label>Toll-Free NPA</label>
                                </span>
                            </div>
        
                            <div class="col-12 p-fluid">
                                <span class="p-float-label">
                                    <input type="text" id="nxx" name="nxx" pInputText [(ngModel)]="inputNxx" (blur)="onNXXFieldFocusOut()" [disabled]="numType !== gConst.OCA_NUM_TYPE_RANDOM">
                                    <label for="nxx">Starting NXX</label>
                                </span>
                                <p *ngIf="!validNxx" class="p-error">Starting NXX: Must be three numerics.</p>
                            </div>
        
                            <div class="col-12 p-fluid">
                                <span class="p-float-label">
                                    <input type="text" id="line" name="line" pInputText [(ngModel)]="inputLine" (blur)="onLineFieldFocusOut()" [disabled]="numType !== gConst.OCA_NUM_TYPE_RANDOM">
                                    <label for="line">Starting line</label>
                                </span>
                                <p *ngIf="!validLine" class="p-error">Starting LINE: Must be four numerics.</p>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="lg:col-6 col-12 pl-3 pr-3">
                <div>
                    <!-- <p class="mb-2">CSV File: </p> -->
                    <button pButton pRipple label="Choose File" (click)="fileInput.click()"></button>
                    <input #fileInput type="file" (change)="onCsvXlUploadAuto($event)" style="display: none" accept=".csv"/>
                </div>
                <div class="p-fluid p-0 mt-2">
                    <span class="field p-float-label">
                        <textarea class="pt-4" id="number_maskEntry" name="number_maskEntry" [(ngModel)]="inputNumberMaskEntry" (blur)="onNumFieldFocusOut()" rows="10" cols="30" pInputTextarea></textarea>
                        <label for="number_maskEntry">Number or Mask Entry</label>
                    </span>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_COMMON" class="p-error">Number or Mask Entry: Must be 10 alphanumeric characters, '*', '&' and optionally two dashes '-'. Allowed delimiters are comma or return.</strong>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_CONS" class="p-error">Number or Mask Entry: Last character must equal '*' if consecutive is selected.</strong>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_NPA" class="p-error">Number or Mask Entry: NPA must be an existing 3-digit 8xx Toll-Free NPA code known to the TFN Registry (e.g., 800).</strong>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_AMP" class="p-error">Number or Mask Entry: Number cannot contain a single '&'.</strong>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_WILDCARD" class="p-error">Number or Mask Entry: When performing a wild card search, the Number or Mask Entry field can be either empty or contain at most one number.</strong>
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple (click)="performNUS(gConst.NUS_SUBMIT_TYPE_SEARCH)" icon="pi pi-search" label="Search" class="p-button-text" [disabled]="disableSearch"></button>
                <button pButton pRipple (click)="performNUS(gConst.NUS_SUBMIT_TYPE_SRCHRES)" icon="pi pi-search-plus" label="Search & Reserve" class="p-button-text p-button-help"></button>
                <button pButton pRipple (click)="onReset()" icon="pi pi-eraser" label="Clear" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template>
</p-panel>

<p-panel styleClass="mt-5" [toggleable]="true" iconPos="right" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <ng-template pTemplate="header">
        <span style="flex: 1;"></span>
    </ng-template>
    <div class="pt-2">
        <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
        <p-table
            [value]="results"
            responsiveLayout="stack"
            [responsive]="true"
            dataKey="id"
            [rowHover]="true"
        >
          <ng-template pTemplate="caption">
            <div class="grid p-fluid">
                <div *ngIf="isSuperAdmin" class="lg:col-3 md:col-5 col-12 pr-0 pl-0">
                  <p-dropdown [options]="userOptions" [(ngModel)]="selectUser" placeholder="Search..." [filter]="true" filterBy="name" optionLabel="name"  optionValue="value" scrollHeight="150px"></p-dropdown>
                </div>
                <div class="lg:col-4 md:col-7 col-12 pr-0 pl-0">
                  <div class="p-inputgroup">
                      <input pInputText type="text" [(ngModel)]="filterValue" (keyup.enter)="onClickFilter()" placeholder="Search..." />
                      <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="onClickFilter()"></button>
                  </div>
                </div>
              </div>
          </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="isSuperAdmin" class="text-align-center">
                        <a>Created By</a>
                    </th>
                    <th class="text-align-center" [ngClass]="sortActive === 'sub_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('sub_dt_tm')">Submit Date</a>
                    </th>
                    <th class="text-align-center" [ngClass]="sortActive === 'type' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('type')">Type</a>
                    </th>
                    <th class="text-align-center" [ngClass]="sortActive === 'submit_type' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('submit_type')">Submit Type</a>
                    </th>
                    <th class="text-align-center" [ngClass]="sortActive === 'total' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('total')">Total</a>
                    </th>
                    <th class="text-align-center" [ngClass]="sortActive === 'completed' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('completed')">Completed</a>
                    </th>
                    <th class="text-align-center msg-width" [ngClass]="sortActive === 'message' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('message')">Message</a>
                    </th>
                    <th class="text-align-center status-width" [ngClass]="sortActive === 'status' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                        <a (click)="onSortChange('status')">Status</a>
                    </th>
                    <th class="text-align-center w-100px">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-result>
                <tr>
                    <td *ngIf="isSuperAdmin" class="text-align-center">
                        <span class="p-column-title">Created By</span>
                        {{ result.user.username }}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Submit Date</span>
                        {{ result.sub_dt_tm }}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Type</span>
                        {{ result.type }}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Submit Type</span>
                        {{ result.submit_type }}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Total</span>
                        <p-tag styleClass="mr-2" severity="success" [value]="result.total"></p-tag>
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Completed</span>
                        <p-tag styleClass="mr-2" [severity]="getCompletedTagColor(result)" [value]="getCompleted(result)"></p-tag>
                    </td>
                    <td class="text-align-center msg-width">
                        <span class="p-column-title">Message</span>
                        {{ getMessage(result) }}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Status</span>
                        <div *ngIf="isProgressing(result)">
                            <!-- <p class="mb-1"><span>{{result.total}}</span> / <span>{{result.failed+result.completed}}</span></p> -->
                            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                        </div>
                        <p-tag *ngIf="!isProgressing(result)" styleClass="mr-2" [severity]="getStatusTagColor(result)" [value]="getStatus(result)"></p-tag>
                    </td>
                    <td class="text-align-center">
                        <span class="p-buttonset">
                            <button pButton type="button" title="Detail" icon="pi pi-eye" class="p-button-rounded p-button-outlined p-button-help" (click)="onOpenViewModal($event, result)"></button>
                            <button pButton type="button" title="Download" icon="pi pi-download" class="p-button-rounded p-button-outlined p-button-warning" (click)="onDownloadCsv($event, result)"></button>
                            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="delete($event, result.id)"></button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="flex justify-content-center align-items-center gap-3">
            <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
        </div>
    </div>
</p-panel>

<p-dialog header="Search And Reserve Result" styleClass="c-modal pt-2" [(visible)]="flagOpenModal" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="grid pl-5 pr-5">
        <div class="col-12 lg:col-4 pt-3 pb-0">
            <div class="p-fluid">
                <!-- <p class="mb-1">Quantity:</p>
                <p class="nsr-result">{{resultQuantity}}</p> -->
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultQuantity" disabled>
                    <label for="nxx">Quantity</label>
                </span>
            </div>
            <div class="mt-3 p-fluid">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultNpa" disabled>
                    <label for="nxx">Npa</label>
                </span>
            </div>
        </div>
        <div class="col-12 lg:col-4 pt-3 pb-0">
            <div class="p-fluid">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultConsecutive" disabled>
                    <label for="nxx">Consecutive</label>
                </span>
            </div>
            <div class="mt-3 p-fluid">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultNxx" disabled>
                    <label for="nxx">Nxx</label>
                </span>
            </div>
        </div>
        <div class="col-12 lg:col-4 pt-3 pb-0">
            <div class="p-fluid">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultWildCardNum" disabled>
                    <label for="nxx">Wild Card Num</label>
                </span>
            </div>
            <div class="mt-3 p-fluid">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="resultLine" disabled>
                    <label for="nxx">Line</label>
                </span>
            </div>
        </div>
    </div>

    <div class="card m-5 pt-0">
        <p-table
            #numbersTable
            [value]="filterNumberList"
            [(selection)]="selectedNumbers"
            dataKey="id"
            [rows]="10"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [loading]="numberListLoading"
            responsiveLayout="scroll"
            [responsive]="true"
            [scrollable]="true"
            scrollDirection="both"
            [paginator]="true"
            [filterDelay]="0"
            [globalFilterFields]="['num','status','suggested_num','message']"
            styleClass="p-datatable-lg"
        >
            <ng-template pTemplate="caption">
              <div class="flex justify-content-end align-items-center">
                <button pButton type="button" (click)="onSearchReserveResultDownload()" icon="pi pi-download" label="Download" class="p-button-text p-button-help"></button>
              </div>
              <div class="flex align-items-center" [ngClass]="resultTotal>0 ? 'justify-content-between' : 'justify-content-end'">
                    <p class="mb-0" *ngIf="resultTotal>0">Total <span class="dialog_total_count">{{resultTotal}}</span> Record<span *ngIf="resultTotal>1">s</span></p>
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputNumListFilterKey" (input)="onInputNumListFilterKey()" placeholder="Search..." />
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th pSortableColumn="num" style="flex: 4" class="justify-content-center">
                        <div class="flex justify-content-center align-items-center">
                            Number
                            <p-sortIcon field="num"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="status" style="flex: 2" class="justify-content-center">
                        <div class="flex justify-content-center align-items-center">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="message" style="flex: 5" class="justify-content-center">
                        <div class="flex justify-content-center align-items-center">
                            Message
                            <p-sortIcon field="message"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="suggested_num" style="flex: 2" class="justify-content-center">
                        <div class="flex justify-content-center align-items-center">
                            Suggestions
                            <p-sortIcon field="suggested_num"></p-sortIcon>
                        </div>
                    </th>
                    <th style="flex: 1" class="justify-content-center" class="justify-content-center">
                        Action
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-number>
                <tr class="p-selectable-row">
                    <!-- <td>
                        <p-tableCheckbox [value]="number"></p-tableCheckbox>
                    </td> -->
                    <td style="flex: 4" class="justify-content-center">
                        <!-- <span class="p-column-title">Toll-Free Number</span> -->
                        {{number.num | phoneFormat}}
                    </td>
                    <td style="flex: 2" class="justify-content-center">
                        <!-- <span class="p-column-title">Status</span> -->
                        {{number.status}}
                    </td>
                    <td style="flex: 5" class="justify-content-center">
                        <!-- <span class="p-column-title">Message</span> -->
                        {{number.message}}
                    </td>
                    <td style="flex: 2" class="justify-content-center">
                        <!-- <span class="p-column-title">Suggestions</span> -->
                        {{number.suggested_num}}
                    </td>
                    <td style="flex: 1" class="justify-content-center">
                        <!-- <span class="p-column-title">Action</span> -->
                        <button pButton type="button" title="Detail" (click)="openNumberModal(number.num)" icon="pi pi-eye" class="p-button-rounded p-button-outlined p-button-help"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Number List found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple (click)="closeModal()" label="Close" icon="pi pi-times" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template> -->
</p-dialog>

<p-dialog header="Toll-Free Number Information" styleClass="c-modal pb-5" [(visible)]="flagNumberOpenModal" (onHide)="closeNumberModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">

    <div>
        <div class="grid pl-5 pr-5">
            <div class="col-12 lg:col-6 pt-3 pb-0">
                <div class="p-fluid">
                    <!-- <p class="mb-1">Number:</p>
                    <p class="nsr-result">{{numModalNum | phoneFormat}}</p> -->
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalNum" disabled>
                        <label for="nxx">Number</label>
                    </span>
                </div>
                <div class="mt-3 p-fluid">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalStatus" disabled>
                        <label for="nxx">Status</label>
                    </span>
                </div>
                <div class="mt-3 p-fluid">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalReservedUntil" disabled>
                        <label for="nxx">Reserved Until</label>
                    </span>
                </div>
            </div>
            <div class="col-12 lg:col-6 pt-3 pb-0">
                <div class="p-fluid">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalRespOrg" disabled>
                        <label for="nxx">Resp Org</label>
                    </span>
                </div>
                <div class="mt-3 p-fluid">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalEffDate" disabled>
                        <label for="nxx">Effective Date</label>
                    </span>
                </div>
                <div class="mt-3 p-fluid">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="numModalLastActive" disabled>
                        <label for="nxx">Last Active</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <span class="p-buttonset">
                <button pButton pRipple (click)="closeNumberModal()" label="Close" icon="pi pi-times" class="p-button-text p-button-danger"></button>
            </span>
        </div>
    </ng-template> -->
</p-dialog>
