<h4 class="page_title m-0">ROC LOA Upload</h4>

<p-panel header="Upload" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <h6 class="mb-5">Please select an LOA document to upload.</h6>
        <div class="flex justify-content-start align-items-cneter">
            <div>
                <button pButton pRipple class="p-button-text" label="Browse" icon="pi pi-upload" (click)="fileInput.click()"></button>
                <input #fileInput type="file" (click)="onClickBrowse($event)" (change)="onChangeBrowse($event)" style="display: none" accept=".pdf,.tiff"/>
            </div>
            <button pButton pRipple (click)="onClickSubmit()" label="Submit" icon="pi pi-send" class="p-button-text p-button-success"></button>
        </div>
    </div>
</p-panel>