<h4 class="page_title">Resp Org Information</h4>
<div class="card">
    <p-tabView [(activeIndex)]="activeTabIndex">
        <p-tabPanel header="Resp Org ID" leftIcon="pi pi-flag" tooltip="Search Resp Org ID">
            <div class="p-fluid mt-5">
                <span class="field p-float-label">
                    <p-dropdown 
                        [options]="resp_org_ids" 
                        id="resp_org_id" 
                        name="resp_org_id" 
                        [(ngModel)]="input_resp_org_id" 
                        optionLabel="name" 
                        [showClear]="true" 
                        scrollHeight="150px" 
                        [filter]="true" 
                        filterBy="name"
                        [virtualScroll]="true" 
                        [itemSize]="40"
                    ></p-dropdown>
                    <label for="resp_org_id">Resp Org ID</label>
                </span>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Resp Org Entity" leftIcon="pi pi-qrcode" tooltip="Search Resp Org Entity">
            <div class="p-fluid mt-5">  
                <span class="field p-float-label">
                    <p-dropdown 
                        [options]="resp_org_entities" 
                        id="resp_org_entity" 
                        name="resp_org_entity" 
                        [(ngModel)]="input_resp_org_entity" 
                        optionLabel="name" 
                        [showClear]="true" 
                        scrollHeight="150px" 
                        [filter]="true" 
                        filterBy="name"
                        [virtualScroll]="true" 
                        [itemSize]="40"
                    ></p-dropdown>
                    <label for="resp_org_entity">Resp Org Entity</label>
                </span>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Toll-Free Number" leftIcon="pi pi-mobile" tooltip="Search Toll-Free Number">
            <div class="p-fluid mt-5">
                <span class="field p-float-label">
                    <input type="text" id="toll_free_num" name="toll_free_num" pInputText [(ngModel)]="input_toll_free_num" [ngClass]="{'ng-dirty': !validPhoneNumber, 'ng-invalid': !validPhoneNumber}"> 
                    <label for="toll_free_num">Toll-Free Number</label>
                </span>
            </div>
        </p-tabPanel>
    </p-tabView>

    <span class="p-buttonset flex justify-content-end mt-0">
        <button pButton pRipple (click)="onRetrieve()" label="Retrieve" icon="pi pi-search" class="p-button-text"></button>
    </span>
</div>

<p-panel header="Result" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <p-panel styleClass="child_panel" header="Entity Information">
            <div class="pt-2">
                <p-table [value]="entity_information" responsiveLayout="stack" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-align-center">
                                <a>Entity ID</a>
                            </th>
                            <th class="text-align-center">
                                <a>Company Name</a>
                            </th>
                            <th class="text-align-center">
                                <a>Contact Number</a>
                            </th>
                            <th class="text-align-center">
                                <a>E-mail Address</a>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-entity>
                        <tr>
                            <td class="text-align-center">
                                <span class="p-column-title">Entity ID</span>
                                {{ entity.respOrgEntity }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Company Name</span>
                                {{ entity.companyName }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Contact Number</span>
                                {{ entity.contactPhone==undefined?'':entity.contactPhone | phoneFormat }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">E-mail Address</span>
                                {{ entity.emailId }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-panel>

        <div class="mt-5"></div>
        <p-panel styleClass="child_panel" header="Resp Org List">
            <div class="pt-2">
                <p-table [value]="resp_orgs" responsiveLayout="stack" [responsive]="true" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-align-center">
                                <a (click)="onSortChange('type')">Resp Org ID</a>
                            </th>
                            <th class="text-align-center">
                                <a (click)="onSortChange('action')">Business Unit Name</a>
                            </th>
                            <th class="text-align-center">
                                <a (click)="onSortChange('src_num')">Trouble Referral Number</a>
                            </th>
                            <th class="text-align-center">
                                <a (click)="onSortChange('src_tmpl_name')">Primary E-mail</a>
                            </th>
                            <th class="text-align-center">
                                <a (click)="onSortChange('src_eff_dt_tm')">Status</a>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-resp_org>
                        <tr>
                            <td class="text-align-center">
                                <span class="p-column-title">Resp Org ID</span>
                                {{ resp_org.respOrgId }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Business Unit Name</span>
                                {{ resp_org.businessUnitName }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Trouble Referral Number</span>
                                {{ resp_org.troubleRef | phoneFormat }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Primary E-mail</span>
                                {{ resp_org.email }}
                            </td>
                            <td class="text-align-center">
                                <span class="p-column-title">Status</span>
                                {{ resp_org.status }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            
                <!-- <p-paginator [rows]="pageSize" [totalRecords]="resultsLength" (onPageChange)="paginate($event)"></p-paginator> -->
            </div>
        </p-panel>
    </div>
</p-panel>