<h4 class="page_title">Trouble Referral Number Query</h4>

<p-panel header="Retrieve" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="grid">
            <div class="lg:col-12 col-12">
                <div class="flex justify-content-end align-items-center">
                    <!-- <p class="mb-0 mr-3">CSV File: </p> -->
                    <button pButton pRipple label="Choose File" (click)="fileInput.click()"></button>
                    <input #fileInput type="file" (change)="onCsvXlUploadAuto($event)" style="display: none" accept=".csv"/>
                </div>
                <div class="mt-3 p-fluid">
                    <span class="p-float-label">
                        <textarea id="tollFreeNumber" rows="7" cols="30" pInputTextarea [(ngModel)]="inputTollFreeNumber" (blur)="onNumFieldFocusOut()"></textarea>
                        <label for="tollFreeNumber">Toll-Free Number *</label>
                    </span>
                    <strong *ngIf="invalidNumType === gConst.INVALID_NUM_TYPE_COMMON" class="p-error">Number or Mask Entry: Must be 10 alphanumeric characters and optionally two dashes '-'. Allowed delimiters are comma or return.</strong>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end">
            <button pButton pRipple type="button" (click)="onRetrieve()" label="Retrieve" icon="pi pi-search" class="p-button-text"></button>
        </div>
    </div>
</p-panel>

<div class="mt-5 mb-5"></div>
<p-panel header="Result" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
    <div class="pt-2">
        <div class="card">
            <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength!=-1&&filterResultLength!=-1&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
            <p-table
                [value]="results"
                dataKey="id"
                [loading]="resultLoading"
                responsiveLayout="stack"
                [responsive]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="grid p-fluid">
                        <div *ngIf="isSuperAdmin" class="lg:col-3 md:col-5 col-12 pr-0 pl-0">
                          <p-dropdown [options]="userOptions" [(ngModel)]="selectUser" placeholder="Search..." [filter]="true" filterBy="name" optionLabel="name"  optionValue="value" scrollHeight="150px"></p-dropdown>
                        </div>
                        <div class="lg:col-4 md:col-7 col-12 pr-0 pl-0">
                          <div class="p-inputgroup">
                              <input pInputText type="text" [(ngModel)]="filterValue" (keyup.enter)="onClickFilter()" placeholder="Search..." />
                              <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="onClickFilter()"></button>
                          </div>
                        </div>
                      </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th *ngIf="isSuperAdmin" class="text-align-center">
                            Created By
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'sub_dt_tm' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('sub_dt_tm')">Submit Date</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'total' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('total')">Total</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'completed' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('completed')">Completed</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'message' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('message')">Message</a>
                        </th>
                        <th class="text-align-center" [ngClass]="sortActive === 'status' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
                            <a (click)="onSortChange('status')">Progress Status</a>
                        </th>
                        <th class="text-align-center w-100px">
                            Action
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-result>
                    <tr class="p-selectable-row text-align-center">
                        <td *ngIf="isSuperAdmin" class="text-align-center">
                            <span class="p-column-title">Created By</span>
                            {{result.user.username}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Submit Date</span>
                            {{result.sub_dt_tm}}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Total</span>
                            <p-tag styleClass="mr-2" severity="success" [value]="result.total"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Completed</span>
                            <p-tag styleClass="mr-2" [severity]="getCompletedTagColor(result)" [value]="getCompleted(result)"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Message</span>
                            {{ getMessage(result) }}
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Progress Status</span>
                            <div *ngIf="isProgressing(result)">
                                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                            </div>
                            <p-tag *ngIf="!isProgressing(result)" styleClass="mr-2" [severity]="getStatusTagColor(result)" [value]="getStatus(result)"></p-tag>
                        </td>
                        <td class="text-align-center">
                            <span class="p-column-title">Action</span>
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" title="Detail" icon="pi pi-eye" class="p-button-rounded p-button-outlined" (click)="onOpenViewModal($event, result)"></button>
                                <button pButton pRipple type="button" title="Download" icon="pi pi-download" class="p-button-rounded p-button-success p-button-outlined" (click)="onDownloadCsv($event, result)"></button>
                                <button pButton pRipple type="button" [disabled]="isProgressing(result)" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-secondary p-button-outlined" (click)="delete($event, result.id)"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Result found.</td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="flex justify-content-center align-items-center gap-3">
                <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</p-panel>

<p-dialog header="Trouble Referral Number Query Result" styleClass="c-modal pt-2" [(visible)]="flagOpenModal" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="card">
        <p-table
            #numbersTable
            [value]="filterNumberList"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [loading]="numberListLoading"
            responsiveLayout="stack"
            [responsive]="true"
            [paginator]="true"
            [filterDelay]="0"
            [globalFilterFields]="['num','resp_org_id','ref_num','resp_org_name','status','message']"
            styleClass="p-datatable-lg"
        >
          <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
              <button pButton type="button" (click)="onViewNumbersDownload()" icon="pi pi-download" label="Download" class="p-button-text p-button-help"></button>
            </div>
            <div class="flex align-items-center" [ngClass]="resultTotal>0 ? 'justify-content-between' : 'justify-content-end'">
                <h5><span *ngIf="resultTotal!=-1">Total {{resultTotal}} Record</span><span *ngIf="resultTotal>1">s</span><i *ngIf="resultTotal!=-1&&filterNumberList.length!=-1&&filterNumberList.length<resultTotal" style="font-size: medium;">, {{filterNumberList.length}} Record<span *ngIf="filterNumberList.length>1">s</span> Filtered</i></h5>
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="inputNumListFilterKey" (input)="onInputNumListFilterKey()" placeholder="Search..." />
                    </span>
                </div>
            </div>
          </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="num">
                        <div class="flex justify-content-center align-items-center">
                            Toll-Free Number
                            <p-sortIcon field="num"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="resp_org_id">
                        <div class="flex justify-content-center align-items-center">
                            Resp Org
                            <p-sortIcon field="resp_org_id"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="ref_num">
                        <div class="flex justify-content-center align-items-center">
                            Trouble Ref#
                            <p-sortIcon field="ref_num"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="resp_org_name">
                        <div class="flex justify-content-center align-items-center">
                            Resp Org Name
                            <p-sortIcon field="resp_org_name"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="message">
                        <div class="flex justify-content-center align-items-center">
                            Message
                            <p-sortIcon field="message"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-number>
                <tr class="p-selectable-row text-align-center">
                    <td class="text-align-center">
                        <span class="p-column-title">Toll-Free Number</span>
                        {{number.num | phoneFormat}}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Resp Org</span>
                        {{number.resp_org_id}}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Trouble Ref#</span>
                        {{number.ref_num ? (number.ref_num | phoneFormat) : ''}}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Resp Org Name</span>
                        {{number.resp_org_name}}
                    </td>
                    <td class="text-align-center">
                        <span class="p-column-title">Message</span>
                        {{number.message}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No Number List found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
